
.top-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

}
.bottom-image {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    filter: blendTrans(50%)blur(100%);
}

.container {
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.hour-and-rocket-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    align-content: stretch;
    justify-content: space-evenly;

}
.clock-text-button-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    justify-content: center;
    animation:tinDownIn 3s 0s backwards;
}

@media only screen and (max-width: 600px) {
    .clock-text-button-container {
        width: 100vw;
    }
}

@media only screen and (min-width: 601px) {
    .clock-text-button-container {
        max-width: 35vw;
        max-height: 50vh;
    }
}


