.clock {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: var(--black);
    animation: bounce;
}
.clock-legend {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 2vw;
    justify-content: space-evenly;
    color: var(--black);
}
.clock-time {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 5vw;
    column-gap: 5px;
    color: var(--black);
}
.clock-time > div {
    max-width: 130px;
    text-align: center;
}

@media only screen and (min-width: 1800px) {
    .clock-time > div {
        max-width: 200px;
        text-align: center;
    }
}