
/* containers */
.rocket-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: auto;
    animation: tinDownIn 3s 0s backwards;
}

.rocket {
    width: 50vw;
    height: auto;
    margin: 1rem;
}

/* small planets */
.rocket > g > path:nth-child(n+4):nth-child(-n+10) {
    animation: 2s ease-in-out 1s infinite planets backwards;
}


/*small stars */
.rocket > g > path:nth-child(n+11):nth-child(-n+20) {
    animation: 1s ease-in-out 1s infinite stars both alternate;
}

.rocket > g > path:nth-child(64) {
    animation: 1s ease-in-out 1s infinite stars both alternate;
}

/* thrusters */
.rocket > g > path:nth-child(n+43):nth-child(-n+46) {
    animation: 2s ease-in-out 1s infinite both floater alternate, 2s ease-in-out 2s infinite both engines alternate;
}
.rocket > g > path:nth-child(26) {
    animation: 2s ease-in-out 1s infinite both floater alternate;
}
.rocket > g > path:nth-child(28) {
    animation: 2s ease-in-out 1s infinite both floater alternate;
}
.rocket > g > path:nth-child(30) {
    animation: 2s ease-in-out 1s infinite both floater alternate;
}
.rocket > g > path:nth-child(32) {
    animation: 2s ease-in-out 1s infinite both floater alternate;
}
.rocket > g > path:nth-child(42) {
    animation: 2s ease-in-out 1s infinite both floater alternate;
}

/* rocket center */
.rocket > g > path:nth-child(47) {
    animation: 2s ease-in-out 1s infinite both floater alternate;
}
/* rocket window */
.rocket > g > path:nth-child(48) {
    animation: 2s ease-in-out 1s infinite both floater alternate;
}

/*left rocket body */
.rocket > g > path:nth-child(36) {
    animation: 2s ease-in-out 1s infinite both floater alternate;

}
/*rocket frame*/
.rocket > g > path:nth-child(34) {
    animation: 2s ease-in-out 1s infinite both floater alternate;
}

/* left right rocket window */
.rocket > g > path:nth-child(37) {
    animation: 2s ease-in-out 1s infinite both floater alternate;
}
/* left left rocket window */
.rocket > g > path:nth-child(38) {
    animation: 2s ease-in-out 1s infinite both floater alternate;
}

/* right left rocket window */
.rocket > g > path:nth-child(39) {
    animation: 2s ease-in-out 1s infinite both floater alternate;
}
/* right right rocket window */
.rocket > g > path:nth-child(40) {
    animation: 2s ease-in-out 1s infinite both floater alternate;
}
/* right rocket body */
.rocket > g > path:nth-child(35) {
    animation: 2s ease-in-out 1s infinite both floater alternate;
}


.rocket > g > g > path:nth-child(1){
    animation: 2s ease-in-out 1s infinite both floater alternate;
}



@keyframes stars {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes planets {
    0% {
        transform: translateY(-400px);
    }
    100% {
        transform: translateY(400px);
    }

}


@keyframes engines {
    0% {
        fill: red;

    }
    40% {
        fill: orange;
    }
    60% {
        fill: yellow;
    }
    80% {
        fill: orange;
    }

}


@keyframes floater {
    0%,100%{transform:translateY(0)}
    50%{transform:translateY(8%)}}

@keyframes puffIn {
    0% {
        opacity: 0;
        transform-origin: 50% 50%;
        filter: blur(2px);
    }
    100% {
        opacity: 1;
        transform-origin: 50% 50%;
        filter: blur(0px);
    }
}