@import url('https://fonts.googleapis.com/css?family=Poppins:extra-light,light,regular,bold,italic&subset=latin,latin-ext');

:root {
  font-family: 'Poppins', 'Arial', 'sans-serif';
  color: var(--text-color);
  --black: #4D4C59;
  --purple: #6C63FF;
  --light-grey: #C8C8C8;
  --text-color: #9C9AB6;
}
body {
  margin: 0;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
